<app-toolbar [toolbar]="toolbarButton"></app-toolbar>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 ">
    <form [ngClass]="validate ? 'was-validated' : ''" #form="ngForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card card-danger" [hidden]="verGrid==true">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" [required]="true" name="nombre" [(ngModel)]="DatosPerfil.nombre"
                                    class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Jerarquía</label>
                                <input type="number" [required]="true" name="jerarquia" [(ngModel)]="DatosPerfil.jerarquia"
                                    class="form-control" placeholder="jerarquia">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-12 pb-3 pt-3 pl-0 pr-1" [hidden]="verGrid==false">
                <app-grid-chronos [gridOptions]="gridDataPerfilNiv"></app-grid-chronos>
            </div>
        </div>
    </form>
</div>
