<app-toolbar [toolbar]="toolbarButton"></app-toolbar>

<div class="col-lg-11 col-md-11 col-sm-12 col-12 pl-0 pr-0 " style="margin: 0 auto;">
    <form [ngClass]="validate ? 'was-validated' : ''" #form="ngForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card card-danger" [hidden]="verCoord==false">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pb-4">
                                <label class="D-label">Fecha Inicio</label>
                                <div class="input-group">
                                    <input name="fechainicio" [required]="true" type="text" bsDatepicker
                                        #dp1="bsDatepicker" placeholder="DD/MM/AAAA" class="form-control"
                                        [(ngModel)]="DatosTarMod.fechainicio"
                                        [bsConfig]="{ adaptivePosition: true,isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', customTodayClass: 'bg-warning'}">
                                    <span class="btn btn-outline-secondary" (click)="dp1.show()"
                                        [attr.aria-expanded]="dp1.isOpen">
                                        <i class="fa fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pb-4">
                                <label class="D-label">Fecha Fin</label>
                                <div class="input-group">
                                    <input name="fechafin" [required]="true" type="text" bsDatepicker
                                        #dp2="bsDatepicker" placeholder="DD/MM/AAAA" class="form-control"
                                        [(ngModel)]="DatosTarMod.fechafin"
                                        [bsConfig]="{ adaptivePosition: true,isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', customTodayClass: 'bg-warning'}">
                                    <span class="btn btn-outline-secondary" (click)="dp2.show()"
                                        [attr.aria-expanded]="dp2.isOpen">
                                        <i class="fa fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="bankSelect">Coordinación</label>
                                <mat-select (selectionChange)="onCoordinacionChange($event)"
                                    [(ngModel)]="DatosTarMod.id" #singleSelect class="form-control" name="id"
                                    placeholder="Seleccione.." [required]="true">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="coordFilterCtrl" placeholder="Buscar"
                                            placeholderLabel="Buscar"
                                            noEntriesFoundLabel="No hay Registros"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let tipo of filteredCoord | async" [value]="tipo.id"
                                        noEntriesFoundLabel="Buscar">
                                        {{ tipo.nombre }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="bankSelect">Proyecto</label>
                                <mat-select (selectionChange)="onProyectoChange($event)"
                                    [(ngModel)]="DatosTarMod.codproyecto" #singleSelect class="form-control"
                                    name="codproyecto" placeholder="Seleccione.." [required]="true">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="proyectoFilterCtrl" placeholder="Buscar"
                                            placeholderLabel="Buscar"
                                            noEntriesFoundLabel="No hay Registros"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let tipo of filteredProyecto | async" [value]="tipo.codeProject"
                                        noEntriesFoundLabel="Buscar">
                                        {{ tipo.project }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>




                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div [hidden]="verGrid==false">
                <app-grid-chronos [gridOptions]="gridDataTarMod"></app-grid-chronos>
            </div>

            <div class="card card-danger" [hidden]="verEdit==false">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Asignado</label>
                                <input type="text" name="empleadoasignado" [disabled]="true"
                                    [(ngModel)]="DatosTarEdit.empleadoasignado" class="form-control"
                                    placeholder="Asignado">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre tarea</label>
                                <input type="text" name="nombre" [(ngModel)]="DatosTarEdit.nombre" class="form-control"
                                    placeholder="Nombre">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Proyecto</label>
                                <input type="text" name="proyecto" [disabled]="true" [(ngModel)]="DatosTarEdit.proyecto"
                                    class="form-control" placeholder="Proyecto">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="bankSelect">Ubicación</label>
                                <mat-select [(ngModel)]="DatosTarEdit.ubicacion" #singleSelect class="form-control"
                                    name="ubicacion" placeholder="Seleccione.." [required]="true">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="proyectoFilterCtrl" placeholder="Buscar"
                                            placeholderLabel="Buscar"
                                            noEntriesFoundLabel="No hay Registros"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let tipo of filteredProyecto | async" [value]="tipo.codeProject"
                                        noEntriesFoundLabel="Buscar">
                                        {{ tipo.project }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" name="descripcion" rows="3" placeholder="Descripción"
                                    [(ngModel)]="DatosTarEdit.descripcion"></textarea>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" name="descripcion" rows="3" placeholder="Descripción"
                                    [(ngModel)]="DatosTarEdit.descripcion"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </form>
</div>