<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: linear-gradient(180deg, #060505 10%, #f70000 100%);">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="./assets/img/loader-claro.gif" alt="Claro" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Chronos</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/img/user.JPG" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block">{{nameuser}}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <ng-container *ngFor="let nodo of mymenu">
          <li class="nav-item" *ngIf="nodo.hijos && nodo.hijos.length > 0">
            <a class="nav-link" style="margin-left: 0px;">
              <i class="{{ nodo.icon }}"></i>
              <p class="ml-2">
                {{ nodo.titulo }}
                <span class="badge badge-warning ml-2">{{nodo.hijos.length}}</span>
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <ng-container *ngFor="let subMenu of nodo.hijos">
                <li class="nav-item" *ngIf="subMenu.hijos && subMenu.hijos.length === 0">
                  <a routerLink="{{ subMenu.path }}" class="nav-link" style="cursor: pointer;"
                    style="margin-left: 10px;">
                    <i class="{{ subMenu.icon }}"></i>
                    <p class="ml-2">{{ subMenu.titulo }}
                    </p>
                  </a>
                </li>
              </ng-container>
            </ul>
            <ul class="nav nav-treeview">
              <ng-container *ngFor="let subMenu of nodo.hijos">
                <li class="nav-item" *ngIf="subMenu.hijos && subMenu.hijos.length > 0">
                  <a class="nav-link" style="margin-left: 10px;">
                    <i class="{{ subMenu.icon }}"></i>
                    <p class="ml-2">
                      {{ subMenu.titulo }}
                      <span class="badge badge-warning ml-2">{{subMenu.hijos.length}}</span>
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <ng-container *ngFor="let men of subMenu.hijos">
                      <li class="nav-item" style="margin-left: 20px;" *ngIf="men.hijos && men.hijos.length === 0">
                        <a routerLink="{{ men.path }}" class="nav-link" style="cursor: pointer;">
                          <i class="{{ men.icon }}"></i>
                          <p class="ml-2">{{ men.titulo }}</p>
                        </a>
                      </li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>

          <li class="nav-item" *ngIf="!(nodo.hijos && nodo.hijos.length > 0)">
            <a routerLink="{{ nodo.path }}" class="nav-link" style="margin-left: 0px;">
              <i class="{{ nodo.icon }}"></i>
              <p class="ml-2">{{ nodo.titulo }}</p>
            </a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="getLogout()">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p class="ml-2">
              Logout
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>