mat-sidenav-container {
    height: calc(205vh - 115vh);
}

mat-sidenav {
    width: 200px;
    background-color: #eee;
}


.my-custom-toolbar {
    background-color: #007bff;
    /* Color de fondo personalizado */
    color: white;
    /* Color del texto personalizado */
}

.spacer {
    flex-grow: 1;
}

.example-spacer {
    flex: 1 1 auto;
  }