<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 " style="margin: 0 auto;">
  <form [ngClass]="validate ? 'was-validated' : ''" #form="ngForm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card card-danger">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="label-hours" for="bankSelect">Fecha Inicio</label>
                <div class="input-group">
                  <input name="fechainicio" [required]="true" type="text" bsDatepicker #dp1="bsDatepicker"
                    placeholder="DD/MM/AAAA" class="form-control" [(ngModel)]="DatosActividades.fechainicio"
                    [bsConfig]="{ adaptivePosition: true,isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', customTodayClass: 'bg-warning'}">
                  <span class="btn btn-outline-secondary" (click)="dp1.show()" [attr.aria-expanded]="dp1.isOpen">
                    <i class="fa fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="label-hours" for="bankSelect">Fecha Fin</label>
                <div class="input-group">
                  <input name="fechafin" [required]="true" type="text" bsDatepicker #dp2="bsDatepicker"
                    placeholder="DD/MM/AAAA" class="form-control" [(ngModel)]="DatosActividades.fechafin"
                    [bsConfig]="{ adaptivePosition: true, isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', customTodayClass: 'bg-warning'}"
                    (ngModelChange)="getActividadesFiltro($event)">
                  <span class="btn btn-outline-secondary" (click)="dp2.show()" [attr.aria-expanded]="dp2.isOpen">
                    <i class="fa fa fa-calendar"></i>
                  </span>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="label-hours" for="bankSelect">Horas registradas en el mes actual:</label>

                <label class="label-hours" for="bankSelect" [textContent]="horasMes"></label>

              </div>
            </div>
          </div>
        </div>

        <div class='demo-app'>
          <div class='demo-app-main'>
            <full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
              <ng-template #eventContent let-arg>
                <div style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;cursor: pointer;">
                  <b>{{ arg.timeText }}</b>
                  <i style="font-style: normal; color:black;" title="{{ arg.event.title }}">{{ arg.event.title }}</i>
                </div>
              </ng-template>
            </full-calendar>
          </div>

        </div>

      </div>

    </div>
  </form>
</div>