<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 ">
  <form [ngClass]="validate ? 'was-validated' : ''" #form="ngForm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card card-danger" >
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="bankSelect">Fecha Inicio</label>
                      <div class="input-group">
                        <input name="fechainicio"  [required]="true" type="text" bsDatepicker #dp1="bsDatepicker"
                            placeholder="DD/MM/AAAA" class="form-control"
                            [(ngModel)]="DatosActividades.fechainicio"
                            [bsConfig]="{ adaptivePosition: true,isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', customTodayClass: 'bg-warning'}">
                        <span class="input-group-addon calendar-icon" (click)="dp1.show()"
                            [attr.aria-expanded]="dp1.isOpen">
                            <i class="fa fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="form-group">
                      <label for="bankSelect">Fecha Fin</label>
                      <div class="input-group">
                        <input name="fechafin" [required]="true" type="text" bsDatepicker #dp2="bsDatepicker"
                            placeholder="DD/MM/AAAA" class="form-control"
                            [(ngModel)]="DatosActividades.fechafin"
                            [bsConfig]="{ adaptivePosition: true, isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', customTodayClass: 'bg-warning'}"
                            (ngModelChange)="getActividadesFiltro($event)">
                      <span class="input-group-addon calendar-icon" (click)="dp2.show()" [attr.aria-expanded]="dp2.isOpen">
                        <i class="fa fa fa-calendar"></i>
                      </span>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="bankSelect">Horas Registradas</label>
                      <div class="input-group">
                        <label for="bankSelect"  [textContent]="horasMes" ></label>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='demo-app'>
        
          <div class='demo-app-main'>
            <full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
              <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
              </ng-template>
            </full-calendar>
          </div>
        
        </div>

    </div>
    
</div>
